*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ IDEA specific
.idea/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.cache
.classpath
.settings
.cache-main
.cache-tests
/bin/

# OS/X specific
.DS_Store
